.header {
  background: rgb(247, 247, 247);
  position: sticky;
  top: 0;
  z-index: 9999;
}

.header__wrapper {
  display: grid;
}

.header__chat {
  background: transparent url("../imgs/chat.svg") center no-repeat;
  border: 0;
  cursor: pointer;
  display: block;
  height: 24px;
  overflow: hidden;
  text-indent: 40px;
  white-space: nowrap;
  width: 24px;
  text-decoration: none;
}

.header__top {
  align-items: center;
  box-sizing: border-box;
  display: grid;
  gap: 20px;
  grid-auto-flow: column;
  justify-content: space-between;
  padding: 16px 20px;
}

.header__logo-mobile img {
  border: 0;
  display: block;
  height: 40px;
  width: auto;
}

.header__divider {
  background: var(--black-10);
  box-sizing: border-box;
  height: 1px;
  width: 100%;
}

.header__nav {
  background-color: var(--white-100);
  border-top: 1px solid var(--black-10);
  border-bottom: 1px solid var(--black-10);
  box-sizing: border-box;
  display: none;
  gap: 20px;
  left: 0;
  padding: 24px 20px;
  position: absolute;
  right: 0;
  top: 72px;
}

.header__info {
  background-color: var(--white-100);
  box-sizing: border-box;
  display: none;
  gap: 20px;
  padding: 20px;
  position: absolute;
  left: 0;
  right: 0;
}

.header__info_active {
  display: grid;
}

.header__nav_active {
  display: grid;
}

.header__contacts {
  display: grid;
  gap: 20px;
  grid-template-columns: max-content max-content;
}

.header__button {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  grid-column: 1/3;
  height: 40px;
  line-height: 20px;
  letter-spacing: 0.48px;
  max-width: 320px;
  width: 100%;
}

.header__slogan {
  color: var(--black-black-50, rgba(0, 0, 0, 0.5));
  display: none;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
  text-align: center;
  visibility: hidden;
}

.header__nav-link {
  color: var(--black-80);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-decoration: none;
}

.header__nav-link:hover {
  background: var(--black-2);
}

.header__contacts-link {
  align-items: center;
  color: var(--black-80);
  display: grid;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  gap: 8px;
  grid-auto-flow: column;
  justify-content: start;
  line-height: 20px;
  letter-spacing: 0.25px;
  text-decoration: none;
}

.header__contacts-icon {
  align-items: center;
  color: var(--black-50);
  display: grid;
  height: 20px;
  width: 20px;
}

.header__contacts-icon svg {
  height: 20px;
  width: 20px;
}

@media (min-width: 420px) {
  .header__slogan {
    display: block;
    text-align: start;
  }
}

@media (min-width: 768px) {
  .header__logo_mobile {
    display: none;
  }

  .header {
    padding: 0 40px;
  }

  .header::after {
    background: var(--black-10);
    bottom: 48px;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
  }

  .header__wrapper {
    grid-template-columns: 24px 1fr;
    grid-template-rows: 72px 48px;
    gap: 0 24px;
    margin: 0 auto;
    max-width: 1040px;
  }

  .header__logo {
    align-items: center;
    display: grid;
    height: 72px;
  }

  .header__hamburger,
  .header__chat {
    display: none;
  }

  .header__top {
    align-items: initial;
    order: 1;
    padding: 0;
  }

  .header__info {
    align-items: center;
    background: initial;
    display: grid;

    order: 2;
    padding: 0;
    position: initial;
  }

  .header__nav {
    background: initial;
    border: 0;
    display: grid;
    gap: 8px;
    grid-auto-flow: column;
    grid-column: 1/3;
    justify-content: center;
    order: 3;
    padding: 0 40px;
    position: initial;
  }

  .header__nav-link {
    box-sizing: border-box;
    align-items: center;
    display: grid;
    font-weight: 500;
    height: 48px;
    padding: 0 16px;
  }

  .header__nav-link_active {
    box-shadow: inset 0 -2px 0 var(--brand-assist);
    color: var(--brand-assist);
    font-weight: 700;
  }

  .header__contacts {
    align-items: center;
    gap: 20px;
    grid-template-columns: initial;
    grid-auto-flow: column;
    justify-content: end;
    order: 2;
  }

  .header__button {
    grid-column: initial;
    min-width: 124px;
    padding: 0 28px;
  }

  .header__slogan {
    display: none;
  }

  .header__contacts-link {
    font-size: 14px;
    gap: 12px;
    line-height: 24px;
    letter-spacing: 0.3px;
  }
}

@media (min-width: 820px) {
  .header__contacts {
    gap: 40px;
  }
}

@media (min-width: 1200px) {
  .header__slogan {
    color: var(--black-80);
    display: initial;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.3px;
    order: 1;
  }

  .header__info {
    grid-auto-flow: column;
    justify-content: space-between;
  }

  .header__logo {
    position: relative;
  }

  .header__logo::after {
    background: var(--black-10);
    bottom: 16px;
    content: "";
    display: block;
    position: absolute;
    right: -24px;
    top: 16px;
    width: 1px;
    visibility: hidden;
  }

  .header__wrapper {
    gap: 0 49px;
  }
}
